body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.recipe-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.recipe-item h2 {
  margin-top: 0;
}

.recipe-item p {
  margin-bottom: 0;
}