.digimon-details-container {
    text-align: center;
  }
  
  .digimon-details-container h2 {
    color: #333;
  }
  
  .digimon-details-container img {
    width: 200px;
    height: 200px;
  }
  
  .digimon-details-container p {
    margin: 10px 0;
    color: #555;
  }
  
  .digimon-details-container button {
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .digimon-details-container button:hover {
    background-color: #0056b3;
  }
  