p {
    color:#a12c2c;
    font-size: 20px;
}
body {
    background-color: aliceblue;
}

.primeiroParagrafo {
    color:#a12c2c;
    font-size: 16px;
    padding: 8px;
}

.segundoParagrafo {
    color:#7aa12c;
    font-size: 20px;
}

.container {
    padding: 16px;
    margin: 4px;
    border: solid 2px;
    border-color: cadetblue;
}

.primeiraDiv {
    padding: 16px;
    background-color: aquamarine;
    text-align: center;
}

.segundaDiv {
    padding: 16px;
    background-color: coral;
    text-align: center;
}

.containerDivs {
    display: flex;
    flex-direction: row; /* Faz as divs ficarem uma ao lado da outra */
    gap: 12px; /* Espaçamento das divs */
    height: 100px;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;
}